<footer class="footer">
    <div class="content has-text-centered">
        <p>© Trippy {{ "now" | date('Y') }}</p>
        <p>Samuel LOUERAT - Mathilde CHEVALIER - Fanny HERAULT</p>
    </div>

</footer>