{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <div>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button>Envoyer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
