{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}

{% block body %}
    <h1>Créer une nouvelle ville</h1>

    {{ include('town/_form.html.twig') }}



    <script src="{{ asset("town/script.js") }}"></script>



{% endblock %}
