{{ form_start(formPlace) }}
        {{ form_widget(formPlace) }}
        <button><a href="/town/new">Ajout</a></button>
        <button><a href="/event/new">Annuler</a></button>
        <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(formPlace, {render_rest: false}) }}
