{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu</h1>

    {{ include('place/_form.html.twig') }}

    <script src="{{ asset("place/script.js") }}"></script>

{% endblock %}
