{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('place/_form.html.twig') }}
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="{{ asset("place/script.js") }}"></script>

{% endblock %}
