{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('town_new') }}">Creer ville</a>
        </li>
        <li>
            <a href="{{ path('place_new') }}">Creer lieu</a>
        </li>
        <li>

            <a href="{{ path('app_register') }}">Creer utilisateur</a>

        </li>
        <li>
            <a href="{{ path('user_list') }}">Gérer utilisateur</a>
        </li>
    </ul>
{% endblock %}
