{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box" style="width: 600px;">
        <img src="{{ asset('/images/404.gif') }}" alt="Erreur 404">
        <div class="filter1">
            <button class="button is-rounded" type="submit">
                <a href="{{ path('login') }}">Retour à la page d'accueil</a>
            </button>
        </div>
    </div>
{% endblock %}