{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box" style="width: 600px;">
        <h1>Accès refusé</h1>

        <p>
            Vous n'avez pas les droits nécessaires pour accéder à ce module!
            <a href="{{ path('login') }}">retour à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}