{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box">
        <h1 class="title is-3">Accès refusé</h1>

        <p>
          Vous n'avez pas les droits nécéssaires pour accéder à ce module!
            <a href="{{ path('login') }}">retour à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}