{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


    <h1>Mon profil</h1>


    <div class="form">
        {{ form_start(userForm) }}

        <div class="mb-3">
            {{ form_widget(userForm) }}
        </div>

        <button>Enregistrer</button>
        <button>Annuler</button>
        {{ form_end(userForm) }}
    </div>

{% endblock %}
